<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Sprite</key>
		<string>bottle</string>
		<key>Mass</key>
		<real>0.95</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>soda</string>
		<key>Mass</key>
		<integer>1</integer>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<real>0.032</real>
		<key>MinFlips</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>ketchup</string>
		<key>Mass</key>
		<real>1.04</real>
		<key>XScale</key>
		<real>0.47</real>
		<key>YScale</key>
		<real>0.42</real>
		<key>Restitution</key>
		<real>0.09</real>
		<key>MinFlips</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake</string>
		<key>Mass</key>
		<real>1.12</real>
		<key>XScale</key>
		<real>0.4</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<real>0.12</real>
		<key>MinFlips</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>ice_cream</string>
		<key>Mass</key>
		<real>1</real>
		<key>XScale</key>
		<real>0.32</real>
		<key>YScale</key>
		<real>0.32</real>
		<key>Restitution</key>
		<real>0.07000000000000001</real>
		<key>MinFlips</key>
		<integer>12</integer>
	</dict>
</array>
</plist>
